<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.multidatasource.linuxMapper.UserLinuxMapper">
    <insert id="insertUserLinux" parameterType="com.example.multidatasource.bean.UserLinux">
        insert into user (name,age) values (#{userLinux.name},#{userLinux.age})
    </insert>

    <update id="updateUserLinux" parameterType="com.example.multidatasource.bean.UserLinux">
        update user set name=#{userLinux.name}, age=#{userLinux.age} where
        id=#{userLinux.id}
    </update>
</mapper>